<template>
  <el-form ref="courseForm" :model="form" class="form-container">

    <div class="add-course-main-container">
      <el-row>
        <el-col :span="24">
          <el-form-item style="margin-bottom: 40px;" prop="title">
            <MDinput v-model="form.title" :maxlength="100" name="title" required>
              Kurs nomi
            </MDinput>
          </el-form-item>

          <el-form-item style="margin-bottom: 40px;" prop="title">
            <MDinput v-model="form.author" :maxlength="100" name="title" required>
              Kurs muallifi
            </MDinput>
          </el-form-item>
          <el-row :gutter="20">
            <el-col :span="8">
              <el-form-item label="Sarlavha rasmi:">
              <el-upload
                class="upload-demo"
                :auto-upload="false"
                :on-preview="handlePreview"
                :on-remove="handleRemove"
                :file-list="form.photo"
                :limit="1"
                list-type="picture">
                <el-button size="small" type="primary">Fayl yuklash</el-button>
              </el-upload>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="" style="margin-bottom: 40px;" prop="title">
                <el-select
                  style="width: 100%"
                  v-model="form.assistants"
                  multiple
                  filterable
                  allow-create
                  default-first-option
                  placeholder="Assistenlarni tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="" style="margin-bottom: 40px;" prop="title">
                <el-select
                  style="width: 100%"
                  v-model="form.type"
                  placeholder="Bo'limni tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>


          <el-form-item prop="aboutCourse" style="margin-bottom: 30px;">
            <p>Kurs haqida ma'lumot:</p>
            <Tinymce ref="editor" v-model="form.aboutCourse" :height="400" />
          </el-form-item>


          <el-form-item prop="aboutCourse" style="margin-bottom: 30px;">
            <p>O'qituvchi haqida ma'lumot:</p>
            <Tinymce ref="editor" v-model="form.aboutCourse" :height="400" />
          </el-form-item>

          <el-form-item prop="aboutCourse" style="margin-bottom: 30px;">
            <p>Mundarija:</p>
            <Tinymce ref="editor" v-model="form.aboutCourse" :height="400" />
          </el-form-item>

          <el-form-item prop="aboutCourse" style="margin-bottom: 30px;">
            <el-button type="primary">Saqlash</el-button>
          </el-form-item>
        </el-col>

      </el-row>
    </div>
  </el-form>
</template>

<script>
    import Tinymce from "@/components/Tinymce/index";
    import MDinput from "@/components/MDinput/index";
    import Upload from "@/components/Upload/SingleImage3";
    import Sticky from "@/components/Sticky/index";
    import Warning from "@/views/example/components/Warning";
    import {CommentDropdown, PlatformDropdown, SourceUrlDropdown} from "@/views/example/components/Dropdown";

    export default {
        name: "AddCourse",
      components: { Tinymce, MDinput, Upload, Sticky, Warning, CommentDropdown, PlatformDropdown, SourceUrlDropdown },
      data() {
          return{
            options: [{
              value: 'Assistant1',
              label: 'Assistant1'
            }, {
              value: 'Assistant2',
              label: 'Assistant2'
            }, {
              value: 'Assistant3',
              label: 'Assistant3'
            }],
            options2: [{
              value: 'Section1',
              label: 'Section1'
            }, {
              value: 'Section2',
              label: 'Section2'
            }, {
              value: 'Section3',
              label: 'Section3'
            }],
            form:{
              courseName: "",
              aboutCourse: "",
              author: "",
              aboutTeacher: "",
              photo:[],
              assistants:[],
              type: ""
            }
          }
      },
      methods:{
        handleRemove(file, fileList) {
          console.log(file, fileList);
        },
        handlePreview(file) {
          console.log(file);
        }
      }
    }
</script>

<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
</style>
