<template>
  <el-form ref="moduleForm" label-position="top" :model="form" class="form-container">
    <div class="lesson-title">Dars qo'shish</div>
    <div class="add-course-main-container">
      <el-row>
        <el-col :span="24">
          <el-row :gutter="20">
            <el-col :span="8">
              <el-form-item label="Kursni tanlang:" prop="course">
                <el-select
                  style="width: 100%"
                  v-model="form.course"
                  placeholder="Kursni tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="Modul tanlang:" prop="moduleName">
                <el-select
                  style="width: 100%"
                  v-model="form.module"
                  placeholder="Modul tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="Dars mavzusi:" prop="lessonTitle">
                <el-input placeholder="Dars mavzusi" v-model="form.lessonTitle"></el-input>
              </el-form-item>
            </el-col>

          </el-row>
          <el-row :gutter="20">
            <el-col :span="8">
              <el-form-item label="Video darslar:" prop="fideoFiles">
                <el-upload
                  class="upload-demo"
                  ref="upload"
                  action=""
                  multiple
                  :file-list="form.videoFiles"
                  :auto-upload="false">
                  <el-button slot="trigger" icon="el-icon-upload" type="primary">Fayllarni tanlang</el-button>
                </el-upload>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="Ma'ruza matnlari:" prop="lectureFiles">
                <el-upload
                  class="upload-demo"
                  ref="upload"
                  action=""
                  multiple
                  :file-list="form.lectureFiles"
                  :auto-upload="false">
                  <el-button slot="trigger" icon="el-icon-upload" type="primary">Fayllarni tanlang</el-button>
                </el-upload>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="Vazifalar:" prop="taskFiles">
                <el-upload
                  class="upload-demo"
                  ref="upload"
                  action=""
                  multiple
                  :file-list="form.taskFiles"
                  :auto-upload="false">
                  <el-button slot="trigger" icon="el-icon-upload" type="primary">Fayllarni tanlang</el-button>
                </el-upload>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="8">
              <el-form-item label="Qo'shimcha fayllar:" prop="otherFiles">
                <el-upload
                  class="upload-demo"
                  ref="upload"
                  action=""
                  multiple
                  :file-list="form.otherFiles"
                  :auto-upload="false">
                  <el-button slot="trigger" icon="el-icon-upload" type="primary">Fayllarni tanlang</el-button>
                </el-upload>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="Test qo'shish:">
              <el-button icon="el-icon-notebook-2" type="primary">Test qo'shish</el-button>
              </el-form-item>
            </el-col>
            <el-col :span="8">


            </el-col>
          </el-row>




          <el-form-item style="margin-bottom: 30px;">
            <el-button type="success">Saqlash</el-button>
          </el-form-item>
        </el-col>

      </el-row>
    </div>
  </el-form>
</template>

<script>
    export default {
        name: "AddLesson",
      data(){
        return{
          options: [{
            value: 'Section1',
            label: 'Section1'
          }, {
            value: 'Section2',
            label: 'Section2'
          }, {
            value: 'Section3',
            label: 'Section3'
          }],
          form:{
            course: "",
            module: "",
            lessonTitle: "",
            videoFiles: [],
            lectureFiles: [],
            taskFiles:[],
            otherFiles: []
          }
        }
      }
    }
</script>

<style lang="scss">
.lesson-title{
  font-size: 20px;
  color: #606266;
  vertical-align: middle;
  line-height: 40px;
  box-sizing: border-box;
  font-weight: 700;
}
  .upload-demo{
    .el-upload{
      width: 100% !important;
    }
    .el-button{
      width: 100%;
    }

  }
</style>
