<template>
  <el-form ref="moduleForm" label-position="top" :model="form" class="form-container">
<div class="module-title">Yangi modul qo'shish</div>
    <div class="add-course-main-container">
      <el-row>
        <el-col :span="24">
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="Kursni tanlang:" prop="course">
                <el-select
                  style="width: 100%"
                  v-model="form.type"
                  placeholder="Kursni tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-row :gutter="10">
                <el-col :span="6">
                  <el-form-item label="Chegirma:" prop="course">
                    <el-checkbox border v-model="form.discount">Chegirma</el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="9">
                  <el-form-item label="Miqdori:" prop="course">
                  <el-input-number :disabled="!form.discount" v-model="form.discountAmount" controls-position="right"></el-input-number>
                  </el-form-item>
                </el-col>
                <el-col :span="9">
                  <el-form-item label="Davomiyligi:" prop="course">
                  <el-input-number v-model="form.duration" controls-position="right"></el-input-number>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-col>
            <el-col :span="12">
              <el-form-item label="Modul nomi:" prop="moduleName">
                <el-input placeholder="Modul nomi" v-model="form.moduleName"></el-input>
              </el-form-item>
              <el-form-item label="Modul muddati:" prop="dateRange">
                <el-date-picker
                  style="width: 100%"
                  v-model="form.dateRange"
                  type="daterange"
                  range-separator="-"
                  start-placeholder="Start date"
                  end-placeholder="End date">
                </el-date-picker>
              </el-form-item>
            </el-col>

          </el-row>


          <el-form-item label="Modul haqida ma'lumot:" prop="aboutModule" style="margin-bottom: 30px;">
            <Tinymce ref="editor" v-model="form.aboutCourse" :height="300" />
          </el-form-item>


          <el-form-item style="margin-bottom: 30px;">
            <el-button type="success">Saqlash</el-button>
          </el-form-item>
        </el-col>

      </el-row>
    </div>
  </el-form>
</template>

<script>
    import Tinymce from "@/components/Tinymce/index";
    import {CommentDropdown, PlatformDropdown, SourceUrlDropdown} from "@/views/example/components/Dropdown";

    export default {
        name: "AddModule",
      components: { Tinymce },
      data(){
          return{
            options2: [{
              value: 'Section1',
              label: 'Section1'
            }, {
              value: 'Section2',
              label: 'Section2'
            }, {
              value: 'Section3',
              label: 'Section3'
            }],
            form:{
              course: "",
              moduleName: "",
              aboutModule: "",
              duration: null,
              discount:false,
              discountAmount:null,
              dateRange: "",
            }
          }
      }
    }
</script>

<style scoped>
.tynemce-label{
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  color: #606266;
  vertical-align: middle;
  line-height: 40px;
  box-sizing: border-box;
  font-weight: 700;
}
  .module-title{
    font-size: 20px;
    color: #606266;
    vertical-align: middle;
    line-height: 40px;
    box-sizing: border-box;
    font-weight: 700;
  }
</style>
