<template>
  <div class="app-container">

    <el-row :gutter="10">
      <el-col :span="6">
        <el-input placeholder="Please input" v-model="input"></el-input>
      </el-col>
      <el-col :span="6">
        <el-input placeholder="Please input" v-model="input"></el-input>
      </el-col>
      <el-col :span="4">
        <el-button type="primary" icon="el-icon-search">Izlash</el-button>
      </el-col>
      <el-col :span="3">
        <el-button class="full-width" type="primary" icon="el-icon-plus">Qo'shish</el-button>
      </el-col>
      <el-col :span="3">
        <el-button class="full-width" :loading="downloadLoading" type="primary" icon="el-icon-download" @click="handleDownload">
          Export
        </el-button>
      </el-col>
    </el-row>

    <el-table class="student-table" v-loading="listLoading" :data="list" element-loading-text="Loading..." border fit highlight-current-row>
      <el-table-column align="center" label="Id" width="95">
        <template slot-scope="scope">
          {{ scope.$index }}
        </template>
      </el-table-column>
      <el-table-column label="Tug'ilgan yili" width="150" prop="birthDate">
      </el-table-column>
      <el-table-column label="Familiya ismi sharifi" align="center" prop="fio">
      </el-table-column>
      <el-table-column label="Kurs nomi" align="center" prop="courseName">
      </el-table-column>
      <el-table-column width="200" align="center">
        <template slot-scope="scope">
          <el-button size="small" type="primary">
            Tahrirlash
          </el-button>
          <el-button size="small" type="danger">
            O'chirish
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
    import {parseTime} from "@/utils";

    export default {
        name: "index",
      data() {
        return {
          list: [],
          listLoading: true,
          downloadLoading: false,
          filename: '',
          autoWidth: true,
          bookType: 'xlsx'
        }
      },
      created() {
        this.fetchData()
      },
      methods: {
        fetchData() {
          this.listLoading = true

          for (let i = 0; i < 8; i++) {
            this.list.push({
              id:i,
              birthDate:"26-10-2020",
              fio:"Shodiyev Feruz Sirojiddin o'g'li",
              courseName: "Oliy matematika va ekonometrika asoslari"


            })
          }
          // Just to simulate the time of the request
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        },
        handleDownload() {
          this.downloadLoading = true
          import('@/vendor/Export2Excel').then(excel => {
            const tHeader = ['Id', 'Tug\'ilgan sana', 'FIO', 'Kurs nomi']
            const filterVal = ['id', 'birthDate', 'fio', 'courseName']
            const list = this.list
            const data = this.formatJson(filterVal, list)
            excel.export_json_to_excel({
              header: tHeader,
              data,
              filename: this.filename,
              autoWidth: this.autoWidth,
              bookType: this.bookType
            })
            this.downloadLoading = false
          })
        },
        formatJson(filterVal, jsonData) {
          return jsonData.map(v => filterVal.map(j => {
            if (j === 'timestamp') {
              return parseTime(v[j])
            } else {
              return v[j]
            }
          }))
        }
      }
    }
</script>

<style scoped>
.full-width{
  width: 100%;
}
  .student-table{
    margin-top: 10px;
  }
</style>
