<template>
  <div class="app-container">
    <div class="filter-container">
<el-row :gutter="10">
  <el-col :span="4">
<h3 class="title">Barcha kurslar</h3>
  </el-col>
  <el-col :span="8">
    <el-input placeholder="Izlsh" v-model="searchInp" class="input-search">
      <el-button slot="append" icon="el-icon-search"></el-button>
    </el-input>
  </el-col>
  <el-col :span="8">
    <el-select v-model="value" placeholder="Bo'limlar bo'yicha filterlash" style="width: 100%">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>
  </el-col>
  <el-col :span="4">
    <el-button type="primary">Yangi kurs qo'shish</el-button>
  </el-col>
</el-row>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="data"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="Kurs nomi" prop="courseName" align="center" width="300">
      </el-table-column>
      <el-table-column label="Modullar/darslar soni" align="center" prop="countLessons">
      </el-table-column>
      <el-table-column label="O'quvchilar" prop="studentsCount" align="center">
      </el-table-column>
      <el-table-column label="Holat" align="center">
        <template slot-scope="{row,$index}">
          <el-button size="small"  type="danger" @click="handleDelete(row,$index)">
            O'chirish
          </el-button>
          <el-button size="small" type="success">
            Tahrirlash
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      background
      layout="prev, pager, next"
      :total="1000">
    </el-pagination>
  </div>
</template>

<script>
  import waves from '@/directive/waves' // waves directive
  import Pagination from '@/components/Pagination' // secondary package based on el-pagination

    export default {
        name: "index",
      components: { Pagination },
      directives: { waves },
      data() {
        return {
          searchInp:"",
          tableKey: 0,
          data:[],
          total: 0,
          listLoading: true,
        }
      },
      created() {
        this.getList()
      },
      methods: {

        getList() {
          this.listLoading = true

          for (let i = 0; i < 8; i++) {
            this.data.push({
              id:i,
              courseName:"Matematika fanidan oliy ta’lim muassalari ...",
              countLessons:"12/144",
              studentsCount: "500 ta"

            })
          }
            // Just to simulate the time of the request
            setTimeout(() => {
              this.listLoading = false
            }, 1.5 * 1000)
        },
        handleDelete(row, index) {
          this.$confirm('Ushbu kursni o’chirmoqchimisiz?', 'Warning', {
            confirmButtonText: 'Ha',
            cancelButtonText: 'Yo’q',
            type: 'warning'
          }).then(() => {
            this.$notify({
              title: 'Success',
              message: 'Delete Successfully',
              type: 'success',
              duration: 2000
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: 'Delete canceled'
            });
          });

        }
      }
    }
</script>

<style scoped>
  .title{
    margin-bottom: 0px;
    margin-top: 8px;
  }
  .el-pagination{
    margin-top: 10px;
  }

</style>
