<template>
  <div class="app-container">
    <el-table class="student-table" v-loading="listLoading" :data="list" border fit highlight-current-row>
      <el-table-column align="center" label="O'quvchi id raqami" prop="studentId">
      </el-table-column>
      <el-table-column label="Turi" width="150" prop="type">
      </el-table-column>
      <el-table-column label="Nomi" align="center" prop="courseName">
      </el-table-column>
      <el-table-column label="To'lov id raqami" align="center" prop="paymentId">
      </el-table-column>
      <el-table-column label="Summasi" align="center" prop="amount">
      </el-table-column>
      <el-table-column width="200" align="center" label="Status">
        <template slot-scope="scope">
        <el-tag type="success">{{scope.row.status}}</el-tag>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>

  export default {
    name: "index",
    data() {
      return {
        list: [],
        listLoading: true,
      }
    },
    created() {
      this.fetchData()
    },
    methods: {
      fetchData() {
        this.listLoading = true

        for (let i = 0; i < 8; i++) {
          this.list.push({
            id:i,
            studentId:"12345",
            type:"kurs",
            courseName: "Oliy matematika va ekonometrika asoslari",
            paymentId: 'nsjbj3-3hHGs-hs34j-sbdjOPs-aaadJ',
            amount: '10 000 so\'m',
            status: 'seccess'


          })
        }
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      },

    }
  }
</script>

<style scoped>
  .full-width{
    width: 100%;
  }
  .student-table{
    margin-top: 10px;
  }
</style>
