<template>
  <el-form ref="moduleForm" label-position="top" :model="form" class="form-container">
    <div class="form-title">Yangi test qo'shish</div>
    <div class="add-course-main-container">
      <el-row>
        <el-col :span="24">
          <el-row :gutter="20">
            <el-col :span="8">
              <el-form-item label="Kim uchun:" prop="optionsForWhom">
                <el-select v-model="form.forWhom" placeholder="Kim uchun">
                  <el-option
                    v-for="item in optionsForWhom"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>

            <el-col :span="8">
              <el-form-item label="Test nomi:" prop="name">
              <el-input placeholder="Please input" v-model="form.name"></el-input>
              </el-form-item>
            </el-col>

            <el-col :span="8">
              <el-form-item label="Bo'limni tanlang:" prop="section">
                <el-select v-model="form.section" placeholder="Bo'limni tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>


          </el-row>
          <el-row :gutter="20">
            <el-col :span="8">
              <el-form-item label="Kursni tanlang:" prop="course">
                <el-select v-model="form.course" placeholder="Kursni tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="Modulni tanlang:" prop="module">
                <el-select v-model="form.module" placeholder="Modulni tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>

            <el-col :span="8">
              <el-form-item label="Darsni tanlang:" prop="lesson">
                <el-select v-model="form.lesson" placeholder="Darsni tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="20">

            <el-col :span="8">
              <el-form-item label="Turi:" prop="type">
                <el-select v-model="form.type" placeholder="Turini tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>

            <el-col :span="8">
              <el-form-item label="Savollar:" prop="testsFile">
                <el-upload
                  class="upload-demo"
                  :auto-upload="false"
                  action=""
                  :on-preview="handlePreview"
                  :on-remove="handleRemove"
                  :before-remove="beforeRemove"
                  multiple
                  :limit="3"
                  :on-exceed="handleExceed"
                  :file-list="form.testsFile">
                  <el-button size="small" type="primary" icon="el-icon-upload">Savollarni yuklang</el-button>
                </el-upload>
              </el-form-item>
            </el-col>

            <el-col :span="8">
              <el-form-item label="Javoblar:" prop="answersFile">
                <el-upload
                  class="upload-demo"
                  :auto-upload="false"
                  action=""
                  :on-preview="handlePreview"
                  :on-remove="handleRemove"
                  :before-remove="beforeRemove"
                  multiple
                  :limit="3"
                  :on-exceed="handleExceed"
                  :file-list="form.answersFile">
                  <el-button size="small" type="primary" icon="el-icon-upload">Javoblarni yuklang</el-button>
                </el-upload>
              </el-form-item>
            </el-col>

          </el-row>
          <el-row :gutter="20">

            <el-col :span="8">
              <el-form-item v-if="form.forWhom === 'pullik'" label="Narxi:" prop="price">
                <el-input placeholder="Narxni kiriting" v-model="form.price"></el-input>
              </el-form-item>
              <el-form-item v-else label="Test kunlari:" prop="days">
                <el-select
                  v-model="form.days"
                  multiple
                  filterable
                  allow-create
                  default-first-option
                  placeholder="Test kunlarini tanlang">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label="Nechtalik test:" prop="quantity">
                <el-input placeholder="Soni" v-model="form.quantity"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label="Ball:" prop="ball">
                <el-input placeholder="Ball" v-model="form.ball"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label="O'rta daraja boshlanish:" prop="startNumber">
                <el-input placeholder="Boshlanish raqami" v-model="form.startNumber"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label="Tugash:" prop="course">
                <el-input placeholder="Tugash raqami" v-model="form.endNumber"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="20">
            <el-col :span="8">
              <el-form-item label="Chegirm sanasi:" prop="dateRange">
                <el-date-picker
                  v-model="form.dateRange"
                  type="daterange"
                  range-separator="-"
                  start-placeholder="Boshlanish sanasi"
                  end-placeholder="Tugash sanasi">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label="Chegirm summasi:" prop="discount">
                <el-input placeholder="Chegirm summasi" v-model="form.discount"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label="Raqamga jo'natish:" prop="sendToNumber">
                <el-checkbox v-model="form.sendToNumber" label="Raqamga jo'natish" border></el-checkbox>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label="Kimga jo'natish:" prop="sendToNumber">
                <el-select :disabled="!form.sendToNumber" v-model="form.sendToWhom" placeholder="Kimga jo'natish">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label="Til:" prop="lang">
              <el-select v-model="form.lang" placeholder="Til">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
              </el-form-item>
            </el-col>
          </el-row>


          <el-form-item style="margin-top: 30px;">
            <el-button type="success">Saqlash</el-button>
          </el-form-item>
        </el-col>

      </el-row>
    </div>
  </el-form>
</template>

<script>
    export default {
        name: "AddTests",
      data() {
        return {
          options: [{
            value: 'Section1',
            label: 'Section1'
          }, {
            value: 'Section2',
            label: 'Section2'
          }, {
            value: 'Section3',
            label: 'Section3'
          }],
          optionsForWhom: [{
            value: 'dars',
            label: 'Dars'
          }, {
            value: 'modul',
            label: 'Modul'
          }, {
            value: 'Blok test',
            label: 'Blok test'
          }, {
            value: 'pullik',
            label: 'Pullik'
          }],
          form: {
            forWhom: "",
            name: "",
            course: "",
            section:"",
            module:"",
            lesson: "",
            type: "",
            testsFile: [],
            answersFile: [],
            days:[],
            price: '',
            quantity: '',
            ball: '',
            duration: '',
            startNumber: '',
            endNumber: '',
            dateRange: '',
            discount: '',
            sendToNumber: false,
            sendToWhom: "",
            lang: "",


          }
        }
      },
      methods:{
        handleRemove(file, fileList) {
          console.log(file, fileList);
        },
        handlePreview(file) {
          console.log(file);
        },
        handleExceed(files, fileList) {
          this.$message.warning(`The limit is 3, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
        },
        beforeRemove(file, fileList) {
          return this.$confirm(`Cancel the transfert of ${ file.name } ?`);
        }
      }
    }
</script>

<style scoped>
  .form-container{
    padding: 20px;
  }
  .el-select{
    width: 100%;
  }
  .el-upload{
    width: 100%;
  }
  .form-title{
    font-size: 20px;
    color: #606266;
    vertical-align: middle;
    line-height: 40px;
    box-sizing: border-box;
    font-weight: 700;
  }
</style>
