<template>
  <div class="app-container">
    <div class="filter-container">
      <el-row :gutter="10">
        <el-col :span="4">
          <h3 class="title">Barcha testlar</h3>
        </el-col>
        <el-col :span="8">
          <el-input placeholder="Izlsh" v-model="searchInp" class="input-search">
            <el-button slot="append" icon="el-icon-search"></el-button>
          </el-input>
        </el-col>
        <el-col :span="8">
          <el-select v-model="value" placeholder="Bo'limlar bo'yicha filterlash" style="width: 100%">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="4">
          <el-button type="primary">Yangi test qo'shish</el-button>
        </el-col>
      </el-row>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="data"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="Test nomi" prop="testName" align="center" width="300">
      </el-table-column>
      <el-table-column label="Bo'lim nomi" align="center" prop="section">
      </el-table-column>
      <el-table-column label="Turi" prop="type" align="center">
      </el-table-column>
      <el-table-column label="Foydalanganlar soni" prop="usedCount" align="center">
      </el-table-column>
      <el-table-column label="Holat" align="center">
        <template slot-scope="{row,$index}">
          <el-button size="small" type="danger" @click="handleDelete(row,$index)">
            O'chirish
          </el-button>
          <el-button size="small" type="primary">
            Edit
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      background
      layout="prev, pager, next"
      :total="1000">
    </el-pagination>
  </div>
</template>

<script>
  import waves from '@/directive/waves' // waves directive
  import Pagination from '@/components/Pagination' // secondary package based on el-pagination
    export default {
        name: "AllTests",
      components: { Pagination },
      directives: { waves },
      data() {
        return {
          searchInp:"",
          tableKey: 0,
          data:[],
          total: 0,
          listLoading: true,
        }
      },
      created() {
        this.getList()
      },
      methods: {

        getList() {
          this.listLoading = true

          for (let i = 0; i < 8; i++) {
            this.data.push({
              id:i,
              testName:"Matematika fanidan oliy ta’lim muassalari ...",
              section:"Section",
              type: "single",
              usedCount: "500 ta"

            })
          }
          // Just to simulate the time of the request
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        },
        handleDelete(row, index) {
          this.$confirm('Ushbu testni o’chirmoqchimisiz?', 'Warning', {
            confirmButtonText: 'Ha',
            cancelButtonText: 'Yo’q',
            type: 'warning'
          }).then(() => {
            this.$notify({
              title: 'Success',
              message: 'O\'chirish bajarildi!',
              type: 'success',
              duration: 2000
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: 'Delete canceled'
            });
          });

        }
      }
    }
</script>

<style scoped>
  .title{
    margin-bottom: 0px;
    margin-top: 8px;
  }
  .el-pagination{
    margin-top: 10px;
  }
</style>
