<template>
  <div class="app-container">
    <div class="filter-container">
      <el-row :gutter="10">
        <el-col :span="8">
          <h3 class="title">Barcha bo'limlar</h3>
        </el-col>
        <el-col :span="8" :offset="2">
          <el-input placeholder="Izlsh" v-model="searchInp" class="input-search">
            <el-button slot="append" icon="el-icon-search"></el-button>
          </el-input>
        </el-col>
        <el-col :span="6">
          <router-link :to="{name: 'AddSection', query:{type:'main'}}">
            <el-button type="primary">Yangi bo'lim qo'shish</el-button>
          </router-link>
        </el-col>
      </el-row>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="data"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="Bo'lim nomi" prop="sectionName" align="center">
      </el-table-column>
      <el-table-column label="Holat" align="center" width="300">
        <template slot-scope="{row,$index}">
          <el-button size="small"  type="danger" @click="handleDelete(row,$index)">
            O'chirish
          </el-button>
          <el-button size="small" type="success">
            Tahrirlash
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      background
      layout="prev, pager, next"
      :total="1000">
    </el-pagination>
  </div>
</template>

<script>
  import Pagination from '@/components/Pagination' // secondary package based on el-pagination
    export default {
        name: "AllSections",
      components: { Pagination },
      data() {
        return {
          searchInp:"",
          tableKey: 0,
          data:[],
          total: 0,
          listLoading: true,
        }
      },
      created() {
        this.getList()
      },
      methods: {

        getList() {
          this.listLoading = true

          for (let i = 0; i < 8; i++) {
            this.data.push({
              id:i,
              sectionName:"Matematika fanidan oliy ta’lim muassalari ...",

            })
          }
          // Just to simulate the time of the request
          setTimeout(() => {
            this.listLoading = false
          }, 1.5 * 1000)
        },
        handleDelete(row, index) {
          this.$confirm('Ushbu bo\'limni o’chirmoqchimisiz?', 'Warning', {
            confirmButtonText: 'Ha',
            cancelButtonText: 'Yo’q',
            type: 'warning'
          }).then(() => {
            this.$notify({
              title: 'Success',
              message: 'Muvaffaqiyatli o\'chirildi',
              type: 'success',
              duration: 2000
            })
          }).catch(() => {

          });

        }
      }
    }
</script>

<style scoped>
  .title{
    margin-bottom: 0px;
    margin-top: 8px;
    font-size: 20px;
    color: #606266;
    vertical-align: middle;
    line-height: 40px;
    box-sizing: border-box;
    font-weight: 700;
  }
  .el-pagination{
    margin-top: 10px;
  }
</style>
