<template>
  <el-form ref="moduleForm" label-position="top" :model="form" class="form-container">
    <div class="form-title">Yangi bo'lim qo'shish</div>
    <div class="add-course-main-container">
      <el-row>
        <el-col :span="12">
          <el-form-item v-if="$route.query.type === 'secondary'" label="Asosiy bo'limni tanlang:" prop="parentSection">
            <el-select
              style="width: 100%"
              v-model="form.parentSection"
              placeholder="Bo'limni tanlang">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="Bo'lim nomi (uz):" prop="moduleName">
            <el-input placeholder="Bo'lim nomi" v-model="form.nameUz"></el-input>
          </el-form-item>

          <el-form-item label="Bo'lim nomi (ru):" prop="moduleName">
            <el-input placeholder="Bo'lim nomi" v-model="form.nameRu"></el-input>
          </el-form-item>

          <el-form-item label="Bo'lim nomi (en):" prop="moduleName">
            <el-input placeholder="Bo'lim nomi" v-model="form.nameEn"></el-input>
          </el-form-item>

          <el-form-item label="Bo'lim nomi (qr):" prop="moduleName">
            <el-input placeholder="Bo'lim nomi" v-model="form.nameQr"></el-input>
          </el-form-item>

          <el-form-item style="margin-bottom: 30px;">
            <el-button type="success">Saqlash</el-button>
          </el-form-item>
        </el-col>

      </el-row>
    </div>
  </el-form>
</template>

<script>
    export default {
        name: "SectionForm",
      data(){
        return{
          options2: [{
            value: 'Section1',
            label: 'Section1'
          }, {
            value: 'Section2',
            label: 'Section2'
          }, {
            value: 'Section3',
            label: 'Section3'
          }],
          form:{
            parentSection:'',
            nameUz:'',
            nameRu:'',
            nameEn:'',
            nameQr:'',
          }
        }
      }
    }
</script>

<style scoped>
  .form-container{
    padding: 30px;
  }
  .form-title{
    font-size: 20px;
    color: #606266;
    vertical-align: middle;
    line-height: 40px;
    box-sizing: border-box;
    font-weight: 700;
  }
</style>
