<template>
  <div class="createPost-container">
    <el-form ref="postForm" :model="postForm" :rules="rules" class="form-container">

      <sticky :z-index="10" :class-name="'sub-navbar '+postForm.status">
        <el-button v-loading="loading" style="margin-left: 10px;" type="success" @click="submitForm">
          Chop etish
        </el-button>
        <el-button v-loading="loading" type="warning" @click="draftForm">
          Qoralama
        </el-button>
      </sticky>

      <div class="createPost-main-container">
        <el-row>

          <el-col :span="24">
            <el-form-item style="margin-bottom: 40px;" prop="title">
              <MDinput v-model="postForm.title" name="name" required>
                Sarlavha
              </MDinput>
            </el-form-item>

            <div class="postInfo-container">
              <el-row :gutter="20">
                <el-col :span="10">
                  <el-form-item >
                    <el-select style="width: 100%" v-model="postForm.section" placeholder="Bo'lim tanlang">
                      <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>

                <el-col :span="4">
                  <el-form-item >
                    <el-checkbox style="width: 100%" v-model="postForm.forSystem" label="Tizim uchun" border></el-checkbox>
                  </el-form-item>
                </el-col>

                <el-col :span="6">
                  <el-form-item>
                    <el-checkbox style="width: 100%" v-model="postForm.forSite" label="Sayt tashqarisi uchun" border></el-checkbox>
                  </el-form-item>
                </el-col>
                <el-col :span="4">
                  <el-form-item>
                    <el-checkbox style="width: 100%" v-model="postForm.forCourse" label="Kurs uchun" border></el-checkbox>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
          </el-col>
        </el-row>

        <el-row :gutter="20" v-if="postForm.forCourse">
          <el-col :span="10">
            <el-form-item >
              <el-select style="width: 100%" v-model="value" placeholder="Kurs tanlang">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>



        <el-form-item prop="content" style="margin-bottom: 30px;">
          <Tinymce ref="editor" v-model="postForm.content" :height="400" />
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>

<script>
  import Tinymce from '@/components/Tinymce'
  import Upload from '@/components/Upload/SingleImage3'
  import MDinput from '@/components/MDinput'
  import Sticky from '@/components/Sticky' // 粘性header组件
  import { validURL } from '@/utils/validate'
  import { fetchArticle } from '@/api/article'
  import { searchUser } from '@/api/remote-search'

    export default {
        name: "AddNews",
      components: { Tinymce, MDinput, Upload, Sticky},
      props: {
        isEdit: {
          type: Boolean,
          default: false
        }
      },
      data() {
        return {
          postForm: {
            title: '',
            section: '',
            forSystem: false,
            forSite: false,
            forCourse: false,
            course: '',
            content:''
          },
          loading: false,
          userListOptions: [],
          rules: {},
          tempRoute: {}
        }
      },
      computed: {

      },
      created() {
        if (this.isEdit) {
          const id = this.$route.params && this.$route.params.id
          this.fetchData(id)
        }

        // Why need to make a copy of this.$route here?
        // Because if you enter this page and quickly switch tag, may be in the execution of the setTagsViewTitle function, this.$route is no longer pointing to the current page
        // https://github.com/PanJiaChen/vue-element-admin/issues/1221
        this.tempRoute = Object.assign({}, this.$route)
      },
      methods: {
        fetchData(id) {
          fetchArticle(id).then(response => {
            this.postForm = response.data

            // just for test
            this.postForm.title += `   Article Id:${this.postForm.id}`
            this.postForm.content_short += `   Article Id:${this.postForm.id}`

            // set tagsview title
            this.setTagsViewTitle()

            // set page title
            this.setPageTitle()
          }).catch(err => {
            console.log(err)
          })
        },
        setTagsViewTitle() {
          const title = 'Edit Article'
          const route = Object.assign({}, this.tempRoute, { title: `${title}-${this.postForm.id}` })
          this.$store.dispatch('tagsView/updateVisitedView', route)
        },
        setPageTitle() {
          const title = 'Edit Article'
          document.title = `${title} - ${this.postForm.id}`
        },
        submitForm() {
          console.log(this.postForm)
          this.$refs.postForm.validate(valid => {
            if (valid) {
              this.loading = true

              this.loading = false
            } else {
              console.log('error submit!!')
              return false
            }
          })
        },
        draftForm() {

        }
      }
    }
</script>

<style scoped lang="scss">
  @import "src/styles/mixin";

  .createPost-container {
    position: relative;

  .createPost-main-container {
    padding: 40px 45px 20px 50px;

  .postInfo-container {
    position: relative;
  @include clearfix;
    margin-bottom: 10px;

  .postInfo-container-item {
    float: left;
  }
  }
  }

  .word-counter {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
  }
  }

  .article-textarea ::v-deep {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
  }
</style>
